@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">ASP .NET MVC aplikacija koja je rađena u EF Core</p>
    <p class="lead">Služi za prikaz, dodavanje, izmenu i brisanje proizvoda</p>
</div>
